.scroll-text {
  height: 50vh;
  display: flex;
  gap: 1vw;
  width: 100%;
  font-family: "Roboto";
  color: #ffc909;
  font-size: 1.5vw;
  line-height: 1.2em;
  font-weight: bold;
  text-align: justify;
  position: relative;
}

.makeMeScrollPls {
  overflow: auto;
  padding: 2vw;
}

.abouth1 {
  text-align: center;
}
.paper {
  width: 65%;
}

@media (max-width: 1350px) {
  .scroll-text {
    font-size: 15px;
    flex-direction: column;
    height: 70vh;
  }
  .abouth1 {
    text-align: start;
  }
}
