.Header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    z-index: 5;
  }

.overlay-grid {
    margin-bottom: 4rem;
    width: 90%;
    padding: 2rem;
}

.overlay-grid > div {
  min-width: 80vw;
}

.resumé {
  color: white;
  right: 0;
  padding-top: 0.5rem;
  width: 20rem;
  height: 3rem;
  background-color: #373737;
  position: fixed;
  z-index: 2;
  display: block;
  text-align: center;
  font-family: "Satisfy";
  font-size: x-large;
  border-bottom-left-radius: 20px;
}
