.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  margin-right: 50px;
  max-width: 500px;
  width: 100%;
}

.homeImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.homeText{
    color: "#ffc909";
    font-weight: bold;
    padding: 20;
}

@media (max-height: 800px) {
  .homeImg {
    height: 100px;
  }
}
