
.message-group{
    display: flex;
    z-index: 2;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 200px;
}

.message-group > div:first-child{
    margin-bottom: auto;
    margin-right: 5px;
}

.message-group > div:last-child{
    flex-grow: 1;
}

.message-group > div:first-child > img{
    /* padding: 3px; */
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: lightgreen 3px solid;
}

.message{
   max-width: 55%;
   margin: 2px 0;
   display: flex; 
}

.message-text{
    padding: 10px;
    min-height: 20px;
    background: #373737;
    color: white;
    border-radius: 4px 20px 20px 4px;
}

.message-text.single {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.message-text.top {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 4px;
}

.message-text.middle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.message-text.bottom {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 20px;
}

/*------- !!! REPLIES !!! -------*/

.message-group-reply{
    display: flex;
    z-index: 2;
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
    flex-direction: row-reverse;
}

.message-group-reply > div:first-child{
    margin-bottom: auto;
    margin-left: 5px;
}

.message-group-reply > div:last-child{
    flex-grow: 1;
}

.message-group-reply > div:first-child > img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: auto;
}

.message-group-reply > div:first-child{
    
}

.message-group-reply > div{
    
    display: flex;
    flex-direction: column;
    align-items: end;
}

.message-reply{
    max-width: 55%;
    margin: 2px 0 2px auto;
    display: flex; 
 }

.message-text-reply {
    background: #0099ff;
    border-radius: 20px 4px 4px 20px;
    min-height: 20px;
    color: white;
    padding: 10px;
    margin-left: auto;
} 


.message-text-reply.single {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.message-text-reply.top {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 4px;
}

.message-text-reply.middle {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.message-text-reply.bottom {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 20px;
}

